## Preprocessing

In [116]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [117]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [118]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [119]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [120]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [121]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [122]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [123]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [124]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [125]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [126]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [127]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import Dropout


number_input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# Input + Hidden Layer 1
nn.add(tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="relu"))
nn.add(Dropout(0.3))

# Hidden Layer 2
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))
nn.add(Dropout(0.3))

# Hidden Layer 3
nn.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Output Layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_7"

 Layer (type)                     Output Shape                  Param #

 dense_24 (Dense)                 (None, 100)                     4,400

 dropout_6 (Dropout)              (None, 100)                         0

 dense_25 (Dense)                 (None, 50)                      5,050

 dropout_7 (Dropout)              (None, 50)                          0

 dense_26 (Dense)                 (None, 20)                      1,020

 dense_27 (Dense)                 (None, 1)                          21

 Total params: 10,491 (40.98 KB)

 Trainable params: 10,491 (40.98 KB)

 Non-trainable params: 0 (0.00 B)

In [128]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
nn.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])

In [129]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150, validation_split=0.2)

Epoch 1/150
644/644  5s 4ms/step - accuracy: 0.6733 - loss: 0.6234 - val_accuracy: 0.7368 - val_loss: 0.5604
Epoch 2/150
644/644  5s 5ms/step - accuracy: 0.7159 - loss: 0.5765 - val_accuracy: 0.7359 - val_loss: 0.5529
Epoch 3/150
644/644  4s 3ms/step - accuracy: 0.7231 - loss: 0.5666 - val_accuracy: 0.7281 - val_loss: 0.5532
Epoch 4/150
644/644  3s 3ms/step - accuracy: 0.7239 - loss: 0.5646 - val_accuracy: 0.7335 - val_loss: 0.5514
Epoch 5/150
644/644  3s 3ms/step - accuracy: 0.7240 - loss: 0.5650 - val_accuracy: 0.7351 - val_loss: 0.5477
Epoch 6/150
644/644  3s 5ms/step - accuracy: 0.7303 - loss: 0.5583 - val_accuracy: 0.7357 - val_loss: 0.5518
Epoch 7/150
644/644  4s 3ms/step - accuracy: 0.7273 - loss: 0.5612 - val_accuracy: 0.7355 - val_loss: 0.5495
Epoch 8/150
644/644  3s 4ms/step - accuracy: 0.7293 - loss: 0.5581 - val_accuracy: 0.7343 - val_loss: 0.5507
Epoch 9/150
644/644  6s 5ms/step - accuracy: 0.7343 - loss: 0.5496 - val_accuracy: 0.7335 - val_loss: 0.5506
Epoch 10/150
644/644  3s 4ms/step - accuracy: 0.7277 - loss: 0.5558 - val_accuracy: 0.7339 - val_loss: 0.5502
Epoch 11/150
644/644  5s 4ms/step - accuracy: 0.7285 - loss: 0.5569 - val_accuracy: 0.7368 - val_loss: 0.5489
Epoch 12/150
644/644  3s 4ms/step - accuracy: 0.7262 - loss: 0.5558 - val_accuracy: 0.7386 - val_loss: 0.5457
Epoch 13/150
644/644  5s 4ms/step - accuracy: 0.7275 - loss: 0.5536 - val_accuracy: 0.7362 - val_loss: 0.5459
Epoch 14/150
644/644  3s 4ms/step - accuracy: 0.7295 - loss: 0.5557 - val_accuracy: 0.7351 - val_loss: 0.5473
Epoch 15/150
644/644  2s 3ms/step - accuracy: 0.7327 - loss: 0.5487 - val_accuracy: 0.7359 - val_loss: 0.5485
Epoch 16/150
644/644  2s 3ms/step - accuracy: 0.7343 - loss: 0.5504 - val_accuracy: 0.7343 - val_loss: 0.5476
Epoch 17/150
644/644  4s 5ms/step - accuracy: 0.7259 - loss: 0.5543 - val_accuracy: 0.7372 - val_loss: 0.5479
Epoch 18/150
644/644  4s 4ms/step - accuracy: 0.7303 - loss: 0.5483 - val_accuracy: 0.7362 - val_loss: 0.5490
Epoch 19/150
644/644  3s 4ms/step - accuracy: 0.7327 - loss: 0.5506 - val_accuracy: 0.7364 - val_loss: 0.5475
Epoch 20/150
644/644  5s 5ms/step - accuracy: 0.7291 - loss: 0.5530 - val_accuracy: 0.7364 - val_loss: 0.5466
Epoch 21/150
644/644  4s 3ms/step - accuracy: 0.7259 - loss: 0.5571 - val_accuracy: 0.7353 - val_loss: 0.5472
Epoch 22/150
644/644  3s 3ms/step - accuracy: 0.7299 - loss: 0.5521 - val_accuracy: 0.7359 - val_loss: 0.5456
Epoch 23/150
644/644  3s 4ms/step - accuracy: 0.7285 - loss: 0.5534 - val_accuracy: 0.7359 - val_loss: 0.5454
Epoch 24/150
644/644  3s 5ms/step - accuracy: 0.7293 - loss: 0.5518 - val_accuracy: 0.7355 - val_loss: 0.5478
Epoch 25/150
644/644  3s 4ms/step - accuracy: 0.7279 - loss: 0.5557 - val_accuracy: 0.7361 - val_loss: 0.5472
Epoch 26/150
644/644  2s 3ms/step - accuracy: 0.7359 - loss: 0.5469 - val_accuracy: 0.7329 - val_loss: 0.5503
Epoch 27/150
644/644  3s 4ms/step - accuracy: 0.7277 - loss: 0.5507 - val_accuracy: 0.7359 - val_loss: 0.5447
Epoch 28/150
644/644  3s 5ms/step - accuracy: 0.7323 - loss: 0.5484 - val_accuracy: 0.7357 - val_loss: 0.5470
Epoch 29/150
644/644  3s 4ms/step - accuracy: 0.7345 - loss: 0.5496 - val_accuracy: 0.7378 - val_loss: 0.5434
Epoch 30/150
644/644  3s 4ms/step - accuracy: 0.7307 - loss: 0.5483 - val_accuracy: 0.7353 - val_loss: 0.5459
Epoch 31/150
644/644  2s 3ms/step - accuracy: 0.7334 - loss: 0.5479 - val_accuracy: 0.7362 - val_loss: 0.5457
Epoch 32/150
644/644  2s 3ms/step - accuracy: 0.7270 - loss: 0.5517 - val_accuracy: 0.7382 - val_loss: 0.5480
Epoch 33/150
644/644  4s 5ms/step - accuracy: 0.7358 - loss: 0.5451 - val_accuracy: 0.7380 - val_loss: 0.5460
Epoch 34/150
644/644  2s 3ms/step - accuracy: 0.7332 - loss: 0.5499 - val_accuracy: 0.7372 - val_loss: 0.5442
Epoch 35/150
644/644  2s 4ms/step - accuracy: 0.7338 - loss: 0.5461 - val_accuracy: 0.7370 - val_loss: 0.5433
Epoch 36/150
644/644  3s 4ms/step - accuracy: 0.7285 - loss: 0.5511 - val_accuracy: 0.7386 - val_loss: 0.5458
Epoch 37/150
644/644  3s 4ms/step - accuracy: 0.7289 - loss: 0.5508 - val_accuracy: 0.7361 - val_loss: 0.5464
Epoch 38/150
644/644  3s 5ms/step - accuracy: 0.7330 - loss: 0.5473 - val_accuracy: 0.7374 - val_loss: 0.5469
Epoch 39/150
644/644  3s 4ms/step - accuracy: 0.7295 - loss: 0.5509 - val_accuracy: 0.7355 - val_loss: 0.5473
Epoch 40/150
644/644  2s 4ms/step - accuracy: 0.7298 - loss: 0.5515 - val_accuracy: 0.7359 - val_loss: 0.5456
Epoch 41/150
644/644  3s 4ms/step - accuracy: 0.7282 - loss: 0.5502 - val_accuracy: 0.7378 - val_loss: 0.5446
Epoch 42/150
644/644  5s 7ms/step - accuracy: 0.7366 - loss: 0.5427 - val_accuracy: 0.7374 - val_loss: 0.5448
Epoch 43/150
644/644  3s 4ms/step - accuracy: 0.7338 - loss: 0.5462 - val_accuracy: 0.7362 - val_loss: 0.5441
Epoch 44/150
644/644  5s 4ms/step - accuracy: 0.7288 - loss: 0.5495 - val_accuracy: 0.7364 - val_loss: 0.5440
Epoch 45/150
644/644  6s 6ms/step - accuracy: 0.7396 - loss: 0.5413 - val_accuracy: 0.7355 - val_loss: 0.5461
Epoch 46/150
644/644  3s 5ms/step - accuracy: 0.7359 - loss: 0.5459 - val_accuracy: 0.7316 - val_loss: 0.5502
Epoch 47/150
644/644  5s 4ms/step - accuracy: 0.7320 - loss: 0.5461 - val_accuracy: 0.7372 - val_loss: 0.5441
Epoch 48/150
644/644  6s 5ms/step - accuracy: 0.7349 - loss: 0.5457 - val_accuracy: 0.7366 - val_loss: 0.5439
Epoch 49/150
644/644  3s 4ms/step - accuracy: 0.7298 - loss: 0.5470 - val_accuracy: 0.7374 - val_loss: 0.5447
Epoch 50/150
644/644  3s 5ms/step - accuracy: 0.7289 - loss: 0.5458 - val_accuracy: 0.7378 - val_loss: 0.5448
Epoch 51/150
644/644  6s 6ms/step - accuracy: 0.7358 - loss: 0.5444 - val_accuracy: 0.7362 - val_loss: 0.5484
Epoch 52/150
644/644  3s 4ms/step - accuracy: 0.7312 - loss: 0.5480 - val_accuracy: 0.7378 - val_loss: 0.5454
Epoch 53/150
644/644  6s 5ms/step - accuracy: 0.7357 - loss: 0.5464 - val_accuracy: 0.7362 - val_loss: 0.5455
Epoch 54/150
644/644  4s 7ms/step - accuracy: 0.7337 - loss: 0.5473 - val_accuracy: 0.7368 - val_loss: 0.5432
Epoch 55/150
644/644  3s 4ms/step - accuracy: 0.7308 - loss: 0.5480 - val_accuracy: 0.7390 - val_loss: 0.5449
Epoch 56/150
644/644  5s 4ms/step - accuracy: 0.7314 - loss: 0.5459 - val_accuracy: 0.7372 - val_loss: 0.5432
Epoch 57/150
644/644  4s 5ms/step - accuracy: 0.7323 - loss: 0.5465 - val_accuracy: 0.7368 - val_loss: 0.5446
Epoch 58/150
644/644  4s 4ms/step - accuracy: 0.7345 - loss: 0.5434 - val_accuracy: 0.7380 - val_loss: 0.5442
Epoch 59/150
644/644  3s 4ms/step - accuracy: 0.7400 - loss: 0.5400 - val_accuracy: 0.7368 - val_loss: 0.5442
Epoch 60/150
644/644  6s 6ms/step - accuracy: 0.7353 - loss: 0.5418 - val_accuracy: 0.7370 - val_loss: 0.5456
Epoch 61/150
644/644  3s 4ms/step - accuracy: 0.7280 - loss: 0.5496 - val_accuracy: 0.7374 - val_loss: 0.5438
Epoch 62/150
644/644  5s 4ms/step - accuracy: 0.7375 - loss: 0.5448 - val_accuracy: 0.7339 - val_loss: 0.5446
Epoch 63/150
644/644  6s 6ms/step - accuracy: 0.7334 - loss: 0.5464 - val_accuracy: 0.7353 - val_loss: 0.5455
Epoch 64/150
644/644  4s 4ms/step - accuracy: 0.7320 - loss: 0.5498 - val_accuracy: 0.7372 - val_loss: 0.5434
Epoch 65/150
644/644  3s 4ms/step - accuracy: 0.7362 - loss: 0.5431 - val_accuracy: 0.7362 - val_loss: 0.5437
Epoch 66/150
644/644  3s 5ms/step - accuracy: 0.7319 - loss: 0.5476 - val_accuracy: 0.7368 - val_loss: 0.5463
Epoch 67/150
644/644  3s 5ms/step - accuracy: 0.7368 - loss: 0.5408 - val_accuracy: 0.7302 - val_loss: 0.5457
Epoch 68/150
644/644  5s 4ms/step - accuracy: 0.7307 - loss: 0.5454 - val_accuracy: 0.7355 - val_loss: 0.5441
Epoch 69/150
644/644  3s 4ms/step - accuracy: 0.7343 - loss: 0.5427 - val_accuracy: 0.7362 - val_loss: 0.5454
Epoch 70/150
644/644  5s 4ms/step - accuracy: 0.7368 - loss: 0.5385 - val_accuracy: 0.7331 - val_loss: 0.5455
Epoch 71/150
644/644  3s 4ms/step - accuracy: 0.7331 - loss: 0.5463 - val_accuracy: 0.7361 - val_loss: 0.5437
Epoch 72/150
644/644  5s 4ms/step - accuracy: 0.7297 - loss: 0.5447 - val_accuracy: 0.7370 - val_loss: 0.5443
Epoch 73/150
644/644  4s 6ms/step - accuracy: 0.7349 - loss: 0.5413 - val_accuracy: 0.7372 - val_loss: 0.5443
Epoch 74/150
644/644  4s 4ms/step - accuracy: 0.7356 - loss: 0.5408 - val_accuracy: 0.7357 - val_loss: 0.5454
Epoch 75/150
644/644  3s 4ms/step - accuracy: 0.7376 - loss: 0.5398 - val_accuracy: 0.7366 - val_loss: 0.5449
Epoch 76/150
644/644  3s 5ms/step - accuracy: 0.7378 - loss: 0.5415 - val_accuracy: 0.7361 - val_loss: 0.5443
Epoch 77/150
644/644  5s 4ms/step - accuracy: 0.7346 - loss: 0.5431 - val_accuracy: 0.7357 - val_loss: 0.5448
Epoch 78/150
644/644  5s 5ms/step - accuracy: 0.7380 - loss: 0.5410 - val_accuracy: 0.7366 - val_loss: 0.5425
Epoch 79/150
644/644  5s 5ms/step - accuracy: 0.7343 - loss: 0.5422 - val_accuracy: 0.7361 - val_loss: 0.5453
Epoch 80/150
644/644  3s 4ms/step - accuracy: 0.7371 - loss: 0.5397 - val_accuracy: 0.7370 - val_loss: 0.5450
Epoch 81/150
644/644  5s 4ms/step - accuracy: 0.7287 - loss: 0.5485 - val_accuracy: 0.7366 - val_loss: 0.5455
Epoch 82/150
644/644  4s 6ms/step - accuracy: 0.7388 - loss: 0.5406 - val_accuracy: 0.7361 - val_loss: 0.5452
Epoch 83/150
644/644  3s 4ms/step - accuracy: 0.7366 - loss: 0.5399 - val_accuracy: 0.7351 - val_loss: 0.5454
Epoch 84/150
644/644  3s 4ms/step - accuracy: 0.7339 - loss: 0.5433 - val_accuracy: 0.7366 - val_loss: 0.5447
Epoch 85/150
644/644  3s 4ms/step - accuracy: 0.7356 - loss: 0.5412 - val_accuracy: 0.7362 - val_loss: 0.5425
Epoch 86/150
644/644  6s 5ms/step - accuracy: 0.7306 - loss: 0.5496 - val_accuracy: 0.7362 - val_loss: 0.5433
Epoch 87/150
644/644  3s 5ms/step - accuracy: 0.7299 - loss: 0.5468 - val_accuracy: 0.7364 - val_loss: 0.5467
Epoch 88/150
644/644  5s 4ms/step - accuracy: 0.7328 - loss: 0.5438 - val_accuracy: 0.7362 - val_loss: 0.5445
Epoch 89/150
644/644  5s 4ms/step - accuracy: 0.7342 - loss: 0.5424 - val_accuracy: 0.7357 - val_loss: 0.5448
Epoch 90/150
644/644  3s 4ms/step - accuracy: 0.7326 - loss: 0.5439 - val_accuracy: 0.7380 - val_loss: 0.5440
Epoch 91/150
644/644  2s 4ms/step - accuracy: 0.7279 - loss: 0.5487 - val_accuracy: 0.7370 - val_loss: 0.5447
Epoch 92/150
644/644  3s 4ms/step - accuracy: 0.7338 - loss: 0.5434 - val_accuracy: 0.7374 - val_loss: 0.5454
Epoch 93/150
644/644  5s 4ms/step - accuracy: 0.7361 - loss: 0.5457 - val_accuracy: 0.7382 - val_loss: 0.5445
Epoch 94/150
644/644  2s 4ms/step - accuracy: 0.7278 - loss: 0.5498 - val_accuracy: 0.7386 - val_loss: 0.5435
Epoch 95/150
644/644  3s 4ms/step - accuracy: 0.7329 - loss: 0.5415 - val_accuracy: 0.7380 - val_loss: 0.5439
Epoch 96/150
644/644  3s 5ms/step - accuracy: 0.7361 - loss: 0.5415 - val_accuracy: 0.7374 - val_loss: 0.5430
Epoch 97/150
644/644  3s 5ms/step - accuracy: 0.7327 - loss: 0.5443 - val_accuracy: 0.7382 - val_loss: 0.5457
Epoch 98/150
644/644  4s 3ms/step - accuracy: 0.7380 - loss: 0.5405 - val_accuracy: 0.7376 - val_loss: 0.5443
Epoch 99/150
644/644  2s 4ms/step - accuracy: 0.7336 - loss: 0.5401 - val_accuracy: 0.7361 - val_loss: 0.5452
Epoch 100/150
644/644  3s 5ms/step - accuracy: 0.7286 - loss: 0.5444 - val_accuracy: 0.7376 - val_loss: 0.5452
Epoch 101/150
644/644  3s 5ms/step - accuracy: 0.7364 - loss: 0.5428 - val_accuracy: 0.7380 - val_loss: 0.5453
Epoch 102/150
644/644  2s 4ms/step - accuracy: 0.7344 - loss: 0.5422 - val_accuracy: 0.7384 - val_loss: 0.5456
Epoch 103/150
644/644  3s 4ms/step - accuracy: 0.7347 - loss: 0.5461 - val_accuracy: 0.7376 - val_loss: 0.5436
Epoch 104/150
644/644  2s 4ms/step - accuracy: 0.7324 - loss: 0.5442 - val_accuracy: 0.7386 - val_loss: 0.5430
Epoch 105/150
644/644  4s 5ms/step - accuracy: 0.7401 - loss: 0.5358 - val_accuracy: 0.7390 - val_loss: 0.5448
Epoch 106/150
644/644  3s 4ms/step - accuracy: 0.7378 - loss: 0.5413 - val_accuracy: 0.7382 - val_loss: 0.5457
Epoch 107/150
644/644  5s 4ms/step - accuracy: 0.7335 - loss: 0.5439 - val_accuracy: 0.7353 - val_loss: 0.5442
Epoch 108/150
644/644  3s 4ms/step - accuracy: 0.7310 - loss: 0.5477 - val_accuracy: 0.7380 - val_loss: 0.5437
Epoch 109/150
644/644  5s 4ms/step - accuracy: 0.7317 - loss: 0.5433 - val_accuracy: 0.7382 - val_loss: 0.5453
Epoch 110/150
644/644  3s 4ms/step - accuracy: 0.7373 - loss: 0.5409 - val_accuracy: 0.7399 - val_loss: 0.5427
Epoch 111/150
644/644  2s 4ms/step - accuracy: 0.7313 - loss: 0.5410 - val_accuracy: 0.7390 - val_loss: 0.5451
Epoch 112/150
644/644  4s 6ms/step - accuracy: 0.7356 - loss: 0.5422 - val_accuracy: 0.7386 - val_loss: 0.5456
Epoch 113/150
644/644  4s 4ms/step - accuracy: 0.7317 - loss: 0.5439 - val_accuracy: 0.7366 - val_loss: 0.5455
Epoch 114/150
644/644  5s 4ms/step - accuracy: 0.7309 - loss: 0.5423 - val_accuracy: 0.7382 - val_loss: 0.5447
Epoch 115/150
644/644  3s 5ms/step - accuracy: 0.7307 - loss: 0.5419 - val_accuracy: 0.7384 - val_loss: 0.5444
Epoch 116/150
644/644  3s 5ms/step - accuracy: 0.7331 - loss: 0.5424 - val_accuracy: 0.7372 - val_loss: 0.5447
Epoch 117/150
644/644  3s 4ms/step - accuracy: 0.7316 - loss: 0.5486 - val_accuracy: 0.7380 - val_loss: 0.5447
Epoch 118/150
644/644  6s 5ms/step - accuracy: 0.7345 - loss: 0.5418 - val_accuracy: 0.7361 - val_loss: 0.5441
Epoch 119/150
644/644  4s 4ms/step - accuracy: 0.7292 - loss: 0.5441 - val_accuracy: 0.7380 - val_loss: 0.5449
Epoch 120/150
644/644  3s 4ms/step - accuracy: 0.7316 - loss: 0.5472 - val_accuracy: 0.7357 - val_loss: 0.5450
Epoch 121/150
644/644  5s 5ms/step - accuracy: 0.7293 - loss: 0.5464 - val_accuracy: 0.7388 - val_loss: 0.5442
Epoch 122/150
644/644  5s 7ms/step - accuracy: 0.7352 - loss: 0.5404 - val_accuracy: 0.7392 - val_loss: 0.5459
Epoch 123/150
644/644  3s 4ms/step - accuracy: 0.7315 - loss: 0.5440 - val_accuracy: 0.7372 - val_loss: 0.5450
Epoch 124/150
644/644  5s 4ms/step - accuracy: 0.7345 - loss: 0.5417 - val_accuracy: 0.7361 - val_loss: 0.5460
Epoch 125/150
644/644  5s 5ms/step - accuracy: 0.7336 - loss: 0.5406 - val_accuracy: 0.7392 - val_loss: 0.5452
Epoch 126/150
644/644  4s 4ms/step - accuracy: 0.7305 - loss: 0.5449 - val_accuracy: 0.7372 - val_loss: 0.5455
Epoch 127/150
644/644  2s 3ms/step - accuracy: 0.7355 - loss: 0.5411 - val_accuracy: 0.7392 - val_loss: 0.5451
Epoch 128/150
644/644  3s 4ms/step - accuracy: 0.7362 - loss: 0.5411 - val_accuracy: 0.7388 - val_loss: 0.5454
Epoch 129/150
644/644  3s 4ms/step - accuracy: 0.7329 - loss: 0.5449 - val_accuracy: 0.7376 - val_loss: 0.5456
Epoch 130/150
644/644  2s 3ms/step - accuracy: 0.7380 - loss: 0.5402 - val_accuracy: 0.7388 - val_loss: 0.5461
Epoch 131/150
644/644  3s 4ms/step - accuracy: 0.7285 - loss: 0.5469 - val_accuracy: 0.7378 - val_loss: 0.5476
Epoch 132/150
644/644  2s 4ms/step - accuracy: 0.7306 - loss: 0.5429 - val_accuracy: 0.7355 - val_loss: 0.5457
Epoch 133/150
644/644  3s 5ms/step - accuracy: 0.7338 - loss: 0.5431 - val_accuracy: 0.7359 - val_loss: 0.5483
Epoch 134/150
644/644  5s 4ms/step - accuracy: 0.7325 - loss: 0.5424 - val_accuracy: 0.7370 - val_loss: 0.5498
Epoch 135/150
644/644  4s 3ms/step - accuracy: 0.7278 - loss: 0.5492 - val_accuracy: 0.7357 - val_loss: 0.5459
Epoch 136/150
644/644  4s 5ms/step - accuracy: 0.7367 - loss: 0.5408 - val_accuracy: 0.7353 - val_loss: 0.5454
Epoch 137/150
644/644  4s 4ms/step - accuracy: 0.7353 - loss: 0.5402 - val_accuracy: 0.7362 - val_loss: 0.5460
Epoch 138/150
644/644  3s 4ms/step - accuracy: 0.7331 - loss: 0.5455 - val_accuracy: 0.7362 - val_loss: 0.5447
Epoch 139/150
644/644  2s 4ms/step - accuracy: 0.7330 - loss: 0.5446 - val_accuracy: 0.7366 - val_loss: 0.5457
Epoch 140/150
644/644  3s 5ms/step - accuracy: 0.7381 - loss: 0.5394 - val_accuracy: 0.7366 - val_loss: 0.5459
Epoch 141/150
644/644  3s 4ms/step - accuracy: 0.7277 - loss: 0.5490 - val_accuracy: 0.7370 - val_loss: 0.5448
Epoch 142/150
644/644  2s 3ms/step - accuracy: 0.7348 - loss: 0.5399 - val_accuracy: 0.7366 - val_loss: 0.5474
Epoch 143/150
644/644  3s 4ms/step - accuracy: 0.7339 - loss: 0.5418 - val_accuracy: 0.7376 - val_loss: 0.5449
Epoch 144/150
644/644  2s 4ms/step - accuracy: 0.7315 - loss: 0.5471 - val_accuracy: 0.7384 - val_loss: 0.5452
Epoch 145/150
644/644  4s 5ms/step - accuracy: 0.7362 - loss: 0.5358 - val_accuracy: 0.7372 - val_loss: 0.5471
Epoch 146/150
644/644  4s 4ms/step - accuracy: 0.7371 - loss: 0.5419 - val_accuracy: 0.7384 - val_loss: 0.5456
Epoch 147/150
644/644  3s 4ms/step - accuracy: 0.7357 - loss: 0.5390 - val_accuracy: 0.7380 - val_loss: 0.5459
Epoch 148/150
644/644  3s 5ms/step - accuracy: 0.7383 - loss: 0.5375 - val_accuracy: 0.7388 - val_loss: 0.5452
Epoch 149/150
644/644  4s 6ms/step - accuracy: 0.7339 - loss: 0.5413 - val_accuracy: 0.7388 - val_loss: 0.5472
Epoch 150/150
644/644  4s 5ms/step - accuracy: 0.7368 - loss: 0.5408 - val_accuracy: 0.7394 - val_loss: 0.5465

In [130]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7292 - loss: 0.5571
Loss: 0.5571157336235046, Accuracy: 0.7292128205299377

In [131]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.